@* Prepared page for the Bartender application.
    Senior Project I
    Jon Ebert *@
@model IEnumerable<Bartender.Models.Drink>


@{
    ViewBag.Title = "Prepared";
}

<h1>Prepared Drinks</h1>

@*A queue showing all the drinks that the bartender needs to prepare.
    -Also includes a button next to each drink to remove them from the bartender's queue*@

