@* Order page for the Bartender application.
    Senior Project I
    Jon Ebert *@

@{
    ViewBag.Title = "Orders";
}

<h1>Order Queue</h1>

@*Order queue that reflects all incomming orders from the menu page*@

