@* Prepared page for the Bartender application.
    Senior Project I
    Jon Ebert *@

@{
    ViewBag.Title = "Prepared";
}

<h1>Prepared Drinks</h1>

@*A queue showing all the drinks that the bartender has prepared*@